.button {
  color: white;
  background: #287279;
  border: none;
  padding: 12px 24px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.button:hover {
  background: #1e5f5f;
  transform: scale(1.05); 
}
