.containers {
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
  padding: 100px 10px;
}

.btnFx {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.describes {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  color: #000000b2;
}

.arrowButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00000033;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.arrowIcon {
  font-size: 18px;
}

.mainData {
  max-width: 1300px;
  margin: auto;
  padding: 0px 10px 50px 10px;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: all 0.5s ease-in-out;
}

.card {
  width: 400px;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #00000033;
}

.cardImage {
  width: 100%;
  height: 200px;
}

.cardImage img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btnType {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardType {
  background-color: #ff97001a;
  padding: 5px 10px;
  border: 1px solid #ff970080;
  border-radius: 5px;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

.cardBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardHealth {
  background-color: #cde53333;
  padding: 5px 10px;
  border: 1px solid #cde533;
  border-radius: 5px;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

.cardTitle {
  font-size: 16px;
  font-weight: 500;
}

.cardRating {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardTime {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #0000001a;
  padding-bottom: 20px;
}

.timesIco {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconsSt {
  color: #9998e1;
  font-size: 20px;
}

.titless {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.linesH {
  height: 15px;
  width: 1px;
  background-color: #00000033;
}

.lessonsIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardTeacher {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cardTeacher img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.teName {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.checkBox {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: #0000000d;
  padding: 4px 5px;
  border-radius: 5px;
  border: 1px solid #00000033;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

.boxIcon {
  color: #00000099;
  font-size: 13px;
}

.prices {
  font-size: 17px;
  font-weight: 500;
}

.footerCrd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.starFull {
  color: #ff9700;
}

.starHalf {
  color: #ff9700;
}

.starEmpty {
  color: #ddd;
}
