.bg {
  background-color: #f0f1ee;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
}

.textSection {
  flex: 1;
  padding-right: 2rem;
}
.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.stars {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #ff9700;
}

.reviews {
  margin-left: 0.5rem;
  color: #000000;
  font-size: 24px;
    font-weight: 400;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #000000;
  font-family: "Onest", sans-serif;
}

.description {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.descriptionP {
  color: #000000b2;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.getStarted {
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  border: 1px solid #287279;
  color: #287279;
}

.imageSection {
  position: relative;
  flex: 1;
}

.imageSection img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: #ffffffb2;
  border-radius: 17px;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.titlesFx {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 2rem 4rem 2rem 2rem;
}
.overlayTitle {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.LineHei {
  height: 40px;
  width: 1px;
  background-color: #00000080;
}
.titlesDs {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.subs {
  background: #ffffff99;
  border-radius: 17px;
  padding: 2rem;
}
.subsFx {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.subsTitle {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}

.subsDes {
  font-size: 13px;
  font-weight: 400;
  color: #00000099;
}
.bannerIcons {
  position: relative;
}

.bagH {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #287279;
  border-radius: 50%;
  padding: 5px;
  background: white;
  position: absolute;
  top: 25%;
  left: -35px;
  transform: translateY(-50%);
  z-index: 1;
}

.imageWrapper {
  background-color: #287279;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 5px;
}

.middleIcon {
  width: 30px;
  height: 30px;
}
